<!DOCTYPE html>
<html>
<head>
  <title>DeltaHacks II</title>

  <!-- meta info -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- stylesheets -->
  <link rel="icon" type="image/png" href="/public/assets/favicon.png">
  <link rel="stylesheet" type="text/css" href="/bower/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/bower/normalize-css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/public/assets/style.css">

  <!-- scripts -->
  <script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/public/assets/script.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
