<div class="panel panel-default">
  <div class="panel-body">
    This project was created for DeltaHacks II, the hackaton at McMaster University, between January 16th and 17th 2016. The purpose is to provide people information about how their representitive in the house of commons votes. This information can be pretty scattered and a centralized collection could be a useful tool. It uses the OpenParliament and OpenNorth Api's to give a snapshot profile on any member of parliament based of name. We realize that some people would not be able to name their MP at short notice, so there is also an option to search by postal code.

    <div><a href="http://api.openparliament.ca/">OpenParliament</a></div>
    <div><a href= "https://represent.opennorth.ca/api/">OpenNorth</a></div>
    <div>
      Created by Christopher Ciufo and Angus Macdonald
    </div>
  </div>
</div>
